/* https://fonts.googleapis.com/css?family=Anonymous+Pro:400,700 */
/* cyrillic */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v10/Zhfjj_gat3waL4JSju74E7adWJUEM8B3QOikd-ElbEI.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v10/Zhfjj_gat3waL4JSju74E2z7ZuG627hcbv-qfsWAw0c.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v10/Zhfjj_gat3waL4JSju74E9ZXQWU7WlSDbWsNPOIoHjQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 400;
    src: local('Anonymous Pro Regular'), local('AnonymousPro-Regular'), url(https://fonts.gstatic.com/s/anonymouspro/v10/Zhfjj_gat3waL4JSju74E3n3cbdKJftHIk87C9ihfO8.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* cyrillic */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(https://fonts.gstatic.com/s/anonymouspro/v10/WDf5lZYgdmmKhO8E1AQud2rDX_ad7UC1rW42jVYiYvw.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}

/* greek */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(https://fonts.gstatic.com/s/anonymouspro/v10/WDf5lZYgdmmKhO8E1AQud-lOiQ7iO3oj7XGGnTm_ANY.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}

/* latin-ext */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(https://fonts.gstatic.com/s/anonymouspro/v10/WDf5lZYgdmmKhO8E1AQudwDwkySzft-NKyXJLxC--vk.woff2) format('woff2');
    unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}

/* latin */
@font-face {
    font-family: 'Anonymous Pro';
    font-style: normal;
    font-weight: 700;
    src: local('Anonymous Pro Bold'), local('AnonymousPro-Bold'), url(https://fonts.gstatic.com/s/anonymouspro/v10/WDf5lZYgdmmKhO8E1AQud9CbUiP4h8l_SeFbysZT7Cg.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

* {
    font-family: 'Anonymous Pro', monospace;
}

#wrap {
}

#content {
    width: 800px;
    padding-top: 80px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
}

table {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table tr {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
}

table th.stage-edit, table td.stage-edit {
    width: 1000px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    margin-top: 5px;
    margin-bottom: 5px;
}

h1::before, h2::before, h3::before, h4::before, h5::before, h6::before {
    color: #AAAAAA;
}

h1::before {
    content: "# ";
}

h2::before {
    content: "## ";
}

h3::before {
    content: "### ";
}

h4::before {
    content: "#### ";
}

article.card input[name=flag], article.card input[name=url] {
    width: 500px
}

p.markdown {
    margin: 30px;
    background-color: #EFEFEF;
    border-radius: 0.2em;
}

code {
    border-radius: 0.2em;
    border: dashed 1px #333333;
    color: #CC0000;
    font-family: 'Anonymous Pro', monospace;
}

div.instruction {
    padding: 15px;
    background-color: #EFEFEF;
    border: solid 2px #DDDDDD;
}

div.instruction p {
    padding-left: 20px;
    padding-right: 20px;
}

div.instruction ul {
    margin: 0;
}

textarea[name=qtext] {
    height: 200px;
}