{% spaceless %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %} | XSS Thousand Knocks</title>
</head>
<body>
<nav class="demo">
    <a href="{{ path_for('top') }}" class="brand">XSS Thousand Knocks</a>

    {% if user %}
    <input id="bmenub" type="checkbox" class="show">
    <label for="bmenub" class="burger pseudo button">{{ user.getUsername() }}[Stage{{ user.calcStage(pdo) }}]</label>

    <div class="menu">
        <span>{{ user.getUsername() }}[Stage{{ user.calcStage(pdo) }}]</span>
        <a href="{{ path_for('top') }}" class="pseudo button icon-puzzle">stages</a>
        <a href="{{ path_for('ranking') }}" class="pseudo button icon-puzzle">ranking</a>
        {% if user.isAdmin() %}<a href="{{ path_for('admin') }}" class="pseudo button icon-puzzle">admin</a>{% endif %}
        <a href="{{ path_for('logout') }}" class="pseudo button icon-puzzle">logout</a>
    </div>
    {% endif %}
</nav>
<div id="content">
    {% block content %}
    <h1>{% block h1 %}{% endblock %}</h1>
    <hr>
    {% endblock %}
</div>
<link rel="stylesheet" href="/assets/picnic.min.css">
<link rel="stylesheet" href="/assets/style.css">
<script src="/assets/jquery-3.2.1.min.js"></script>
<script src="/assets/marked.min.js"></script>
<script src="/assets/base.js"></script>
</body>
</html>
{% endspaceless %}
