{% extends '_base.html' %}
{% block title %}Admin{% endblock %}
{% block content %}
<h1>Admin</h1>
<hr>
<h2>Export config</h2>
<a href="{{ path_for('admin-export-nginx-fpm') }}" class="stack pseudo button">senbon-xss.nginx-fpm.conf</a>
<a href="{{ path_for('admin-export-nginx') }}" class="stack pseudo button">senbon-xss.nginx.conf</a>
<a href="{{ path_for('admin-export-apache') }}" class="stack pseudo button">senbon-xss.apache.conf</a>
<a href="{{ path_for('admin-export-stage') }}" class="stack pseudo button">stages.json</a>
{% endblock %}