{% extends '_base.html' %}
{% block title %}User manager{% endblock %}
{% block content %}
<h1>Admin</h1>
<hr>
<h2>User manager</h2>
<table id="stage-editor">
    <thead>
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Stage</th>
        <th>Admin</th>
    </tr>
    </thead>
    <tbody>
    {% for user in users %}
    <tr>
        <td>{{ user.getId() }}</td>
        <td>{{ user.getUsername() }}</td>
        <td>{{ user.calcStage(pdo) }}</td>
        <td>{% if user.isAdmin() %}Yes{% else %}No{% endif %}</td>
    </tr>
    {% endfor %}
    <tr>
    </tbody>
</table>
{% endblock %}