{% extends '_base.html' %}
{% block title %}Top{% endblock %}
{% block content %}
<h1>Top</h1>
<hr>
<h2>Welcome</h2>
<div class="instruction">
    <h3>Welcome to XSS Thousand Knocks!</h3>
    <p>This site is for practice to XSS. Just do XSS and XSS and XSS!<br>First of all, please open/solve the <code>Stage1</code>
        for a tutorial.<br>Have a good XSS :)</p>

    <h3>Rules</h3>
    <ul>
        <li>All vulnerable pages are on <code>*.{{ domain }}</code>. Do not attack <code>{{ domain }}</code>.</li>
        <li>Write-ups are welcome, however do not describe the flag directly.</li>
        <li>If you notice something wrong with this site, please contact me(<a href="https://twitter.com/yagihashoo" target="_blank">@yagihashoo</a>).</li>
    </ul>
</div>
<h2>Stages</h2>
<table>
    <thead>
    <tr>
        <th>#</th>
        <th>Title</th>
        <th>Genre</th>
        <th>Users clear the stage</th>
    </tr>
    </thead>
    <tbody>
    {% for stage in stages %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{% if stage.getId() <= user.calcStage(pdo) or user.isAdmin() %}<a
                href="{{ path_for('stage', {'key': stage.getKey()}) }}">{{ stage.getName() }}</a>{% else %}{{
            stage.getName() }}{% endif %}
        </td>
        <td>{{ stage.getGenre() }}</td>
        <td>{{ stage.getClearedUsers() }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
